<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>아이디</th>
            <th>학번</th>
            <th>이름</th>
            <th>과목</th>
            <th>전화번호</th>
            <br>
        </tr>
        <tr th:each="student : ${studentList}">
            <td>
                <a th:href="@{|/detail/${student.id}|}" th:text="${student.id}"></a>
            </td>
            <td th:text="|학번 : ${student.studentNumber}|"></td>
            <td th:text="|이름 : ${student.studentName}|"></td>
            <td th:text="|과목 : ${student.studentMajor}|"></td>
            <td th:text="|전화번호 : ${student.studentMobile}|"></td>
            <td>
                <button th:onclick="detail([[${student.id}]])">조회</button>
            </td>
            <td>
                <button th:onclick="update_fn([[${student.id}]])">수정</button>
            </td>
            <td>
                <button th:onclick="delete_fn([[${student.id}]])">삭제</button>
            </td>
        </tr>
        </tr>
        <br>
    </table>
</div>
</body>
<script th:inline="javascript">
    const detail = (id) => {
        location.href = `/detail/${id}`;
        // location.href = "/detail/" + id`;
    }
    const update_fn = (id) => {
        location.href = `/update/${id}`;
    }
    const delete_fn = (id) => {
        location.href = `/delete/${id}`;
    }

</script>
</html>