<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <a>Save</a>
<form action="/save" method="post">
    <input name="studentNumber" placeholder="학번" type="text"><br>
    <input name="studentName" placeholder="이름" type="text"><br>
    <input name="studentMobile" placeholder="전화번호" type="text"><br>
    <select name="studentMajor"><br>
        <option value="컴퓨터공학">컴퓨터공학</option>
        <option value="전자공학">전자공학</option>
        <option value="경영학">경영학</option>
    </select>
    <input type="submit" value="입력"><br>
</form>
</body>
</html>